.head-title {
  background-color: black;
  color: white;
  font-size: 40pt;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid white;
}
.red-background {
  background-color: red !important;
  color: white;
}

th {
  height: 50px;
  background-color: black;
  color: white;
  font-size: 15pt;
}

body {
  background-color: rgba(13, 72, 161, 0.719);
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  font-size: 15px;

  top: 0;
  left: 0;
  background-color: #2f5e6d;
  padding: 10px;
  overflow-x: hidden;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #575757;
}

/* 메인 콘텐츠 여백 설정 */
.main-content {
  margin-left: 200px; /* 사이드바 너비만큼 왼쪽 여백 */
  padding: 20px;
}
h1 {
  text-align: left;
  font-size: 2.5em;
  padding-left: 10%;
  margin-bottom: 20px;
}

.tables-container {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 1%;
}

th {
  font-size: 15;
  font-weight: bold;
  text-align: center;
}

td {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

tr {
  border-bottom: 1px solid white;
}

tbody tr:nth-child(odd) {
  background-color: rgba(13, 71, 161, 1);
}

tbody tr:nth-child(even) {
  background-color: rgba(21, 101, 192, 1);
}

.blink {
  animation: blink-animation 1s steps(1, start) infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hidden {
  display: none;
}
.toggle-name {
  text-align: left;
}
#arrival-board-1 tbody tr,
#arrival-board-2 tbody tr {
  height: 50px;
}
.time-display {
  display: flex; /* flexbox로 정렬 */
  justify-content: flex-end; /* 오른쪽 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  padding-right: 12%; /* 오른쪽 패딩 */
}

.time-box {
  width: 30px; /* 각 박스의 너비 */
  height: 30px; /* 각 박스의 높이 */
  border: 1px solid #000; /* 박스 테두리 */
  display: flex; /* 박스 안의 내용을 중앙에 정렬하기 위해 flex 사용 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  color: rgb(255, 196, 0);
  background-color: rgba(13, 71, 161, 1); /* 배경색 */
  font-weight: bold; /* 굵은 글씨 */
}
